@import "normalize";
@import "colors";
@import "styles";
@import "photoswipe/photoswipe";
@import "photoswipe/photoswipe-dynamic-caption-plugin";
@import "custom";

.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}

img.lazyload:not([src]) {
  visibility: hidden;
}

.fixed-rounded-image {
  border-radius: 18px;
  width: 100%;
  max-width: 400px;
  /* Set your desired max width */
  height: auto;
  /* Maintain aspect ratio */
  display: block;
  /* Make sure the image takes up the full width of the container */
  margin: 0 auto;
  /* Center the image */
}

.image-slider {
  position: relative;
  max-width: 400px;
  /* Same max width as the image */
  width: 100%;
  /* Responsive */
  margin: 0 auto;
  /* Center the slider itself */
  text-align: center;
  /* Center content within the slider */
}

.arrow-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  z-index: 10;
}

#prev-arrow {
  left: 0;
}

#next-arrow {
  right: 0;
}