<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script>document.documentElement.classList.add("js")</script>
  <title>{{ if or .IsHome (not .Title) }}{{ site.Title }}{{ else }}{{ .Title }} - {{ site.Title }}{{ end }}</title>
  <link rel="canonical" href="{{ .Permalink }}" />
  <link rel="icon" href="{{ "favicon.ico" | relURL }}" sizes="16x16 32x32 48x48" />
  <link rel="icon" type="image/png" sizes="96x96" href="{{ "favicon.png" | relURL }}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "apple-touch-icon.png" | relURL }}" />
  <link rel="manifest" href="{{ "site.webmanifest" | relURL }}" />
  <meta name="description"
    content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}" />
  {{ if .Params.keywords }}
  <meta name="keywords" content="{{ delimit .Params.keywords `, ` }}" />
  {{ end }}
  {{ if .Params.private }}
  <meta name="robots" content="noindex, nofollow" />
  {{ else }}
  <meta name="robots" content="index, follow" />
  {{ end }}
  {{ range .AlternativeOutputFormats -}}
  {{ printf `
  <link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
  {{ partial "opengraph.html" . }}
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,200..700;1,300..600&display=swap" />
  {{ $css := resources.Get "/css/main.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" />
  {{ $js := resources.Get "js/main.js" | js.Build (dict "minify" true) | resources.Fingerprint }}
  <script src="{{ $js.RelPermalink }}" defer></script>
  {{- partial "head-custom.html" . -}}
</head>
