{{ with site.Menus.main }}
  <menu class="hidden" id="menu">
    {{ range . }}
      {{ if eq .Name "home" | or (eq .Name "about") }}
        <li itemscope itemtype="http://www.schema.org/SiteNavigationElement">
          <a aria-current="{{ or (page.IsMenuCurrent .Menu .) (page.HasMenuCurrent .Menu .) }}" href="{{ .URL }}" itemprop="url">
            <span itemprop="name">{{ .Name }}</span>
          </a>
        </li>
      {{ else if eq .Name "work" }}
        <li itemscope itemtype="http://www.schema.org/SiteNavigationElement" class="dropdown">
          <a aria-current="{{ or (page.IsMenuCurrent .Menu .) (page.HasMenuCurrent .Menu .) }}" href="#" itemprop="url" class="dropdown-toggle" data-original-url="{{ .URL }}">
            <span itemprop="name">{{ .Name }}</span>
          </a>
          <ul class="dropdown-menu hidden">
            {{ range site.Menus.main }}
              {{ if eq .Name "home" | or (eq .Name "about") | or (eq .Name "work") }}
                <!-- Skip these items as they're already being displayed -->
              {{ else }}
                <li itemscope itemtype="http://www.schema.org/SiteNavigationElement">
                  <a aria-current="{{ or (page.IsMenuCurrent .Menu .) (page.HasMenuCurrent .Menu .) }}" href="{{ .URL }}" itemprop="url">
                    <span itemprop="name">{{ .Name }}</span>
                  </a>
                </li>
              {{ end }}
            {{ end }}
          </ul>
        </li>
      {{ else }}
        <!-- Skip these items as they'll be shown under "work" -->
      {{ end }}
    {{ end }}
  </menu>
{{ end }}
